@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.prose h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose h3 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.prose p {
  margin-bottom: 1em;
}

.prose ul {
  margin-bottom: 1em;
}